<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6MdMuzhecqDgu5G4C9I3eDBTK7sGlsN8</string>
	<key>GCM_SENDER_ID</key>
	<string>37126392704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>igor.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-69eb5</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-69eb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37126392704:ios:77777f5e51077e89564f65</string>
</dict>
</plist>